@font-face {
    font-family: "8BitWonder";
    src: url("fonts/8BitWonder.eot");
    src: local("?"),
        url("fonts/8BitWonder.woff") format("woff"),
        url("fonts/8BitWonder.ttf") format("truetype"),
        url("fonts/8BitWonder.svg#webfontkGgbkDbi") format("svg");
}
@font-face {
    font-family: "Gamegirl";
    src: url("fonts/Gamegirl.eot");
    src: local("?"),
        url("fonts/Gamegirl.woff") format("woff"),
        url("fonts/Gamegirl.ttf") format("truetype"),
        url("fonts/Gamegirl.svg#webfontkGgbkDbi") format("svg");
}
@font-face {
    font-family: "PressStart";
    src: url("fonts/PressStart2P.eot");
    src: local("?"),
        url("fonts/PressStart2P.woff") format("woff"),
        url("fonts/PressStart2P.ttf") format("truetype"),
        url("fonts/PressStart2P.svg#webfontkGgbkDbi") format("svg");
}
html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}